/* ==================================
 Project: hyprhub
 Author: grid
 Description: Hyprland configuration
================================== */

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(0,0,0,0.15);
}

button {
  color: #f8f8f2;
  background-color: #282a36;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-clip: padding-box;
  border-radius: 30px;
  margin-top: 125px;
  margin-bottom: 125px;
  margin-left: 4px;
  margin-right: 4px;
  min-width: 200px;
  border-width: 16px;
  border-color: #21222c;
  font-size: large;
}

button:focus, button:active, button:hover {
  background-color: #bd93f9;
  outline-style: none;
  
}

/* lock { */
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

/* shutdown { */
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

/* reboot { */
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

/* suspend { */
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

/* logout { */
  background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}